body {
    width: 1920px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 105px;
}

.nomber1 {
    margin-top: 105px;
}

.img_nomber2 {
    padding-top: 10px;
}

.style_nomber1 {
    display: flex;
    justify-content: space-around;
}

.flex-1 {
    display: flex;
    list-style: none;
}

.left-1 {
    padding-left: 80px;
    color: #C3B9B5;
    line-height: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 550;
}

.flex-2 {
    display: flex;
}

.left-3 {
    padding-right: 346px;
    padding-left: 80px;
    color: #C3B9B5;
    line-height: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 550;
}

.p1 {
    color: #FFC59E;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    padding-left: 19px;
    margin: 0 auto;
    padding-top: 14px;
}
.input {
    margin-top: 35px;
    border: 1px solid rgba(8, 6, 6, 0.1);
}
.back{
    margin-top: 130px;
    margin-left: 700px;
}
.back button{
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;  
    display: flex;
    align-items: center;
    color: #FFC59E;  
    cursor: pointer;
    background-color: white;
    border: none;
}
.back a{
    text-decoration: none;
}
.appointment p{
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 110px;
    margin-left: 230px;
}
.button{
    margin-top: 80px;
    margin-left: 210px;
}
.button button{
        width: 909px;
        height: 85px;
        left: 781px;
        top: 325px;
        background-color: white; 
        cursor: pointer;
        margin-top: 30px;
        border-radius: 20px;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
        border: none;   
        display: flex;
      
}
.button span {
    margin-left:600px ;

}
.button li{
    list-style: none;
    cursor: pointer;
    font-size: 30px;
}
.button p{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin-top: 30px;
    margin-left: 15px;

}
.flex-5{
    display: flex;
}
.footer{
    background-color: #59443F;
}
.Aibolit_logo{
display: flex;
padding: 100px;
margin-left: 99px;


}
.Aibolit_logo .span_1 {
        margin-left:22px ; 
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
}
.Aibolit_logo span{
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 46px;
        color: #FFFFFF;
        margin-left: 30px;
}